* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to top right, #74ebd5, #9face6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.weather-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-box p {
  font-size: 18px;
  margin: 6px 0;
}